<form [formGroup]="formModel">
  <md-toolbar class="form-toolbar">
    <md-select formControlName="valid">
      <md-option *ngFor="let valid of valids" [value]="valid.k">
        {{ valid.v }}
      </md-option>
    </md-select>
    <md-form-field style="width: 200px !important;">
      <input mdInput placeholder="请输入公司名称/姓名/联系手机" formControlName="keyWord">
    </md-form-field>

    <button md-button type="button" (click)="search()" color="primary">搜索</button>
    <button md-raised-button type="button" (click)="highSearch()" color="accent">高级搜索</button>
    <span class="example-spacer"></span>
    <button md-raised-button type="button" color="accent" [mdMenuTriggerFor]="moreMenu" [disabled]="listIds.length==0">批量操作</button>
    <button md-raised-button type="button" (click)="export()" color="primary">
      <span *ngIf="exportState" class="btn-loading">&nbsp;</span>
      <span *ngIf="!exportState" >导出</span>
    </button>
  </md-toolbar>
</form>
<app-table [reset]="tableReset" [IN]="IN" (OUT)="OUT($event)"></app-table>
<md-menu #moreMenu="mdMenu" [overlapTrigger]="false">
  <button md-menu-item (click)="hand(true)">批量启用</button>
  <button md-menu-item (click)="hand(false)">批量停用</button>
</md-menu>
