.cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 16px;
  line-height: 3.5em;
  md-card {
    width: 250px;
  }
}

.toggle {
  margin: 1em 0;
  color: #999;
  md-slide-toggle {
    transform: translateY(2px);
  }
}
